input,
textarea {
  flex: 2;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 4px solid var(--primary-color);
  box-sizing: border-box;
  border-radius: 32px;
  resize: none;
}

.formHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  gap: 24px;
}

.formRow {
  display: flex;
  gap: 24px;
}

@media only screen and (max-width: 768px) {
  .formRow {
    flex-direction: column;
  }
}

.rowDivider {
  width: 100%;
  height: 2px;
  margin: 16px 0;
  background-color: var(--primary-color);
  opacity: 0.2;
  border-radius: 50px;
}

.recipeCard {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.recipeInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.recipeInfo ul li {
  list-style-type: disc;
}

.recipeInfo ol li {
  list-style-type: decimal;
}

.recipeActions {
  display: flex;
  gap: 8px;
}
