.recipeDetail {
  margin: 24px 0;
}

.recipeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.recipeDetail .detailImage {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 24px;
  margin-bottom: 20px;
}

.recipeDetail h2 {
  margin-bottom: 10px;
}

.recipeDetail h3 {
  margin: 20px 0 10px;
}

.recipeDetail ul,
.recipeDetail ol {
  margin-left: 20px;
}

.recipeDetail li {
  margin-bottom: 10px;
}

.recipeDetail ul li {
  list-style-type: disc;
}

.recipeDetail ol li {
  list-style-type: decimal;
}

.recipeDetail b {
  font-weight: 600;
}
