@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&family=Yatra+One&display=swap");

:root {
  --primary-color: #f8754d;
  --secondary-color: #fcaa62;
  --background-color: #f8eee2;
  --lightest-color: #f8f8f8;
  --font-color: #0a0303;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--font-color);
  text-decoration: none;
  list-style: none;
  font-size: 1.1rem;
  font-family: "Kulim Park", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.icon-button {
  background-color: var(--primary-color);
  border: none;
  height: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  cursor: pointer;
  margin: 0;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s;
}

.icon-button img {
  height: auto;
  width: 100%;
}

.icon-button:hover {
  transform: scale(1.1);
}
